
.container {
  margin: 50px auto 0px;
  width: 600px;
  height: fit-content;
  border: 1px solid #cecece;
  border-radius: 4px;
}

.baseForm {
  margin: 0px;
}

.baseForm input {
  display: block;
  width: 250px;
  height: 40px;
  margin: 5px auto;
  padding-left: 5px;
  outline-color: deepskyblue;
}

microblink-ui-web {
  --mb-widget-font-family: 'Avenir Next';
  --mb-hem: 20px;
  --mb-widget-border-width: 4px;

  /* Defaults */
  --mb-widget-border-color: black;
  --mb-widget-background-color: white;
  --mb-default-font-color: black;
  --mb-alt-font-color: #575757;
  --mb-btn-font-color: white;
  --mb-btn-background-color: #48b2e8;
  --mb-btn-background-color-hover: #26a4e4;
  --mb-btn-flip-color: white;
  --mb-btn-alt-font-color: black;
  --mb-btn-alt-background-color: white;
  --mb-btn-border-radius: 0;
  --mb-btn-intro-stroke-color: black;
  --mb-btn-intro-stroke-color-hover: white;
  --mb-btn-intro-circle-color: #f2f2f2;
  --mb-btn-intro-circle-color-hover: #48b2e8;
  --mb-btn-container-border-color: lightgrey;
  --mb-spinner-border-width: 6px;
  --mb-tabs-background-color: black;
  --mb-tabs-font-color: white;
  --mb-tabs-border-width: 4px;
  --mb-btn-icon-cancel-color: white;
  --mb-dropzone-hover-color: rgba(72, 178, 232, 0.2);
  --mb-dropzone-circle-color: #48b2e8;
  --mb-dropzone-icon-color: black;
  --mb-loader-font-color: black;
  --mb-loader-background-color: #48b2e8;
  --mb-card-layout-border-color: black;
  --mb-tabs-hover-color: #26a4e4;
  --mb-tabs-active-color: #48b2e8;
  --mb-json-color-key: black;
  --mb-json-color-string: #48b2e8;
  --mb-json-color-boolean: #26a4e4;
  --mb-json-color-number: black;
  --mb-json-color-null: #26a4e4;
  --mb-results-border-color: #dee2e6;
  --mb-results-image-border-radius: 6px;
  --mb-results-image-background-color: #f2f2f2;
  --mb-dialog-title-color: black;
  --mb-dialog-message-color: #575757;
  --mb-photo-icon-primary: white;
  --mb-photo-icon-accent: #48b2e8;
}
